.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--white);
}

.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#logo {
    font-family: var(--logo-font), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--white);
}

#menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

#menu li {
    padding: 8px 12px;
}

#menu li :hover{
    background-color: var(--navy);
    border-radius: 15px;
    padding: 6px;
}
