:root {
    --white: #f0f4f5;
    --black: #000000;
    --navy: #000a38;
    --bright-blue: #b8c3f5;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.proj__title{
    color: var(--white);
    font-family: var(--intro-title-font);
    font-size: var(--intro-title-size);
    width: 100vw;
}

.blank{
    width: max(100px, 11vw);
}

.slide{
    height: max-content;
}

.slider__wrapper div {
    position: relative;
}
.slider__wrapper {
    padding: 5vh 0vw;
    margin: 5vh 0vw;
    position: relative;
    height: max-content;
}
.slide__image {
    width: max(300px, 24vw);;
    height: max(300px, 24vw);
}
.slide__image img {
    width: max(300px, 24vw);
    height: max(300px, 24vw);
    object-fit: contain;
    cursor: pointer;
}
.slide__content {
    width: max(350px, 27vw);
    height: max-content;
    color: #fff;
    padding: max(0px, 0vw) max(180px, 18vw) max(0px, 0vw) max(90px, 9vw);
    position: relative;
}

.slide__content span{
    display: flex;
    align-items: center;
}

.slide__content .people{
    font-size: max(25px, 1vw);
    padding-left: max(20px, 2vw);
    padding-right: max(5px, 0.4vw);
}

.slide__content #num{
    font-size: max(27px, 1vw);
}

.tools{
    width: max(450px, 15vw);
    background-color: var(--bright-blue);
    border-radius: 50px;
    padding: max(10px, 0.5vw) max(20px, 1vw);
    margin: max(10px, 1vw) 0vw;
    display: flex;
    justify-content: space-around;
}

.tools img{
    height: max(30px, 2vw);
}

.slide__date {
    color: #0a8acb;
    font-size: max(20px, 1.1vw);
    font-weight: 400;
    letter-spacing: max(1px, 0.1vw);
    padding-bottom: max(14px, 1.4vw);
}
.slide__title {
    font-size: max(25px, 1.2vw);
    font-weight: 400;
    letter-spacing: max(1px, 0.1vw);
    line-height: max(15px, 1.55vw);
    padding-bottom: max(20px, 1.8vw);
}
.slide__text {
    font-size: max(15px, 0.8vw);
    line-height: max(20px, 1.2vw);
    opacity: 0.8;
    padding-bottom: max(40px, 2vw);
}

.slide__more{
    font-size: max(35px, 2vw);
    padding: 0;
}

.announce{
    margin-top: 0.5vw;
    color: var(--bright-blue);
}

div.overlay__blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s ease all;
}

div.overlay__blue:hover {
    background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
    display: flex;
    width: max(80px, 3.5vw);
    position: absolute;
    padding-right: max(100px, 10vw);
    left: max(800px, 70vw);
    padding-top: max(200px, 10vw);
    z-index: 1;
}

.arrow {
    display: inline-block;
    width: max(20px, 1.2vw);
    height: max(20px, 1.2vw);
    background: transparent;
    text-indent: -9999px;
    border-top: max(2px, 0.15vw) solid #fff;
    border-left: max(2px, 0.15vw) solid #fff;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: transparent;
}
.arrow:hover {
    border-color: #0a8acb;
    border-width: max(2.5px, 0.25vw);
}
.arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}
.arrow.prev {
    transform: rotate(-45deg);
    left: 0;
}
.arrow.next {
    transform: rotate(135deg);
    right: 0;
}


@media screen and (max-width: 950px) {
    .slide{
        flex-direction: column;
        padding-right: 150px;
    }
    
    .slider__wrapper {
        padding: 0vh 0vw;
        margin: 0vh 0vw;
        height: max-content;
    }
    .slider{
        height: max-content;
    }
    .arrows{
        left: 50px;
        padding-top: 50px;
        padding-right: 0vw;
        width: min(600px, 82vw);
    }

    .arrow__blank{
        width: max(500px, 78vw);
    }

    .arrow{
        width: 20px;
        height: 20px;
    }

    .slide__content {
        width: max(350px, 27vw);
        height: max-content;
        padding: 0;
        padding-bottom: 30px;
    }

    .blank{
        width: 16vw;
    }

    .imgAndAnnounce{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .proj__title{
        margin: 150px 0px;
    }
}
@media screen and (max-width: 400px) {

    .arrows{
        left: 50px;
        padding-top: 50px;
        padding-right: 0vw;
        width: min(600px, 82vw);
    }
    .blank{
        width: 16vw;
    }

    .slide__content {
        width: 300px;
        height: max-content;
        padding: 0;
        padding-bottom: 30px;
    }

}

@media screen and (max-height: 600px){
    .proj__title{
        margin-bottom: 100px;
    }
    .slide{
        flex-direction: row;
        padding-right: 150px;
    }
    .arrows{
        left: 50px;
        padding-top: 130px;
        padding-right: 0vw;
        width: 650px;
    }

    .arrow__blank{
        width: 650px;
    }

    .blank{
        width: 9vw;
    }

    .slide__content {
        padding-left: 5vw;
        padding-bottom: 0;
    }

    .slide__image, .slide__image img{
        width: 200px;
        height: 200px;
    }

    .imgAndAnnounce{
        justify-content: center;
        padding-bottom: 0px;
    }

    .slide__title{
        font-size: 20px;
    }

    .slide__text{
        font-size: 15px;
        padding-bottom: 20px;
    }

    .slide__date{
        font-size: 18px;
    }
    
    .slide__content .people{
        font-size: 15px;
    }
    
    .slide__content #num{
        font-size: 18px;
    }
    
    .tools{
        width: 180px;
        border-radius: 50px;
        padding: 6px 15px;
        margin: 7px 0vw;
    }
    
    .tools img{
        height: max(22px, 2vw);
    }
    
    .slide__more{
        font-size: 30px;
        padding: 0;
    }

    .announce{
        font-size: 12px;
    }
}